<h1>Grammar Questions!</h1>

<div>
  <% @questions.each do |question| %>
    <h3><%= question.question %></h3>
    <p><%= question.description %></p>
  <% end %>
</div>

<% if current_user %>
  <%= link_to "Add Question", new_question_path %>
<% end %>
