<h1>Take a look at your question</h1>
<p>Is this really what you wanted to ask? If not, please edit now before finalizing your posting.</p>

<div>
    <h3><%= @question.question %></h3>
    <p><%= @question.description %></p>
</div>
